.menubar{
    background-color: black;   
    border-style:ridge;
    width:450px;
    margin:0 auto;
}
.home{
    color: rgb(236,23,37);
}
.about{
    color: rgb(29,212,89);
}
.events{
    color: rgb(226,226,2);
}
.contact{
    color: rgb(126,222,222);
}
table{
    text-align: center;
}
td{
    font-size:16pt;
    padding:25px;
}
th{
    font-size:18pt;
}
.menua{
    color:inherit
}
div{
    display: flex;
    justify-content: center;
}
.home :hover{
    color: white;
    background-color: rgb(236,23,37);
    background-size: cover;
}
.about :hover{
    color: white;
    background-color: rgb(29,212,89);
    background-size: cover;
}
.events :hover{
    color: white;
    background-color: rgb(226,226,2);
    background-size: cover;
}
.contact :hover{
    color: white;
    background-color: rgb(126,222,222);
    background-size: cover;
}
a:link{
    text-decoration: none;
}
a:visited{
    text-decoration:none;
}
.slideshow-container {
    max-width: 1164px;
    position: relative;
    margin: auto
}
.mySlides {
  height: 94px;
    display:none;
    border: solid 1px black;
}
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #222428;
    font-weight: bold;
    font-size: 30px;
    transition: .6s ease;
    border-radius: 0 3px 3px 0
}

.next {
    right: -50px;
    border-radius: 3px 3px 3px 3px
}

.prev {
    left: -50px;
    border-radius: 3px 3px 3px 3px
}

.prev:hover,
.next:hover {
    color: #f2f2f2;
    background-color: rgba(0, 0, 0, 0.8)
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding-top: 12px;
  padding-bottom: 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #222428
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color .6s ease
}

.active,
.dot:hover {
    background-color: #717171
}