.menubar{
    opacity:1;   
    border-style:ridge;
    width:450px;
    margin:0 auto;
    display: flex;
    justify-content: center;
}
h1{
    font-size: 18pt;
    color:white;
}
.home{
    color: rgb(236,23,37);
}
.about{
    color: rgb(29,212,89);
}
.events{
    color: rgb(226,226,2);
}
.contact{
    color: rgb(126,222,222);
}
table{
    text-align: center;
    border-width: 3px;
}
td{
    font-size:16pt;
    padding:25px;
}
.menua{
    color:inherit
}
div{
    display: flex;
    justify-content: center;
    background-color: black;
    opacity: .33;
}
.home :hover{
    color: white;
    background-color: rgb(236,23,37);
}
.about :hover{
    color: white;
    background-color: rgb(29,212,89);
    background-size: cover;
}
.events :hover{
    color: white;
    background-color: rgb(226,226,2);
    background-size: cover;
}
.contact :hover{
    color: white;
    background-color: rgb(126,222,222);
    background-size:auto;
}
a:link{
    text-decoration: none;
}
a:visited{
    text-decoration:none;
}
.disclaimer
{
    text-align: center;
    font-size: 8pt;
}